/* widget-area related */
.widget-area {
	
}

/* column related */
.widget-area .column {
	margin: 0 !important;
}
.widget-area .column.span1 { width: 8.33%; }
.widget-area .column.span2 { width: 16.66%; }
.widget-area .column.span3 { width: 25%; }
.widget-area .column.span4 { width: 33.33%; }
.widget-area .column.span5 { width: 41.66%; }
.widget-area .column.span6 { width: 50%; }
.widget-area .column.span7 { width: 58.33%; }
.widget-area .column.span8 { width: 66.66%; }

/* widget & placeholder related */
.widget {
	background-color: #ffffff;
	border: 1px #ccc solid;
	margin-bottom: 20px;
}
.widget-area .column .widget {
	margin-left: 10px;
	margin-right: 10px;
}

.widget-area .column:first-child .widget {
	margin-left: 0;
}
.widget-area .column:last-child .widget {
	margin-right: 0;
}

.widget.placeholder {
	border-style: dashed;
	background-color: #fcf8e3;
	min-height: 50px;
}

/* widget area head related */
.widget-area-head {
	border: 1px #ccc solid;
	background-color: #f0f0f0;
	margin-bottom: 20px;
}

.widget-area-head span.title {
	font-weight: bold;
}

/* widget head related */
.widget-head {
	border-bottom: 1px #ccc solid;
	background-color: #f0f0f0;
}
.widget .widget-head span.title {
	font-weight: bold;
	/*
	margin: 0;
	line-height: inherit;
	font-size: 12px;
	*/
}
.widget-head i:hover, .widget-area-head i:hover {
	opacity: 1;
}
.widget-head i, .widget-area-head i {
	opacity: .4;
	margin-left: 2px;
	margin-right: 2px;
}
.widget-head i.pull-right, .widget-area-head i.pull-right {
	margin-top: 3px;
}

/* minimized widget */
.widget.minimized .widget-content {
	display: none;
}
.widget.minimized {
	border-bottom-width: 0;
}

/* minimized widget-area */
.widget-area.minimized .widget-area-content {
	display: none;
}
.widget-area.minimized {
	border-bottom-width: 0;
}